body {
    font-family: 'Handlee', cursive;
    font-size: 48px;
}
html { 
  background-image: url("back.jpg");  
  background-repeat: no-repeat;  
  background-position: 0% 0%;
  background-size: 100% 100vh;
}

.my-name {
        font: 400 52px/0.8 'Sacramento', cursive;
        text-shadow: 1px 4px 2px rgba(0,0,0,0.1); 
}
.container {
  color: #006064;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 13px 61px;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 3.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

.fa {
  margin-left: 4%;
  font-size: 39px;
  cursor: pointer;
}

.label {
  color: white;
  padding: 8px;
  font-size: 20px;
  box-shadow: 10px 10px 26px 0px rgba(161,152,161,0.84);
  border-radius: 10px;
}

.url {
  margin-left: 15%;
  white-space: nowrap; 
  width: 89%; 
  overflow: hidden;
  text-overflow:ellipsis;
}

.visual { 
  opacity: 0.4;
}

.success {background-color: #4CAF50;}
.danger {background-color: #f44336;} 
.info {background-color: #2196F3;}
.card {
  box-shadow: 0 4px 8px 0 rgba(0.3,0.2,0.5,0.5);
  transition: 0.3s;
  width: 50%;
  background: aliceblue;
}

.inline { 
    display: inline-block; 
    margin:10px;
    vertical-align: top;
}

.inline_span {
  display: inline-block; vertical-align: top; line-height: 1;
}

